// form 
// toggle form off after submit
.formSectionOn {
    display: inherit;
    @include outsideBorder;
    border-radius: 150px 150px 0 0;
    width: 100%;
}

.formSectionOff {
    display: none;
}

// form styling
div.userInput {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include insideBorder;
    border-radius: 130px 130px 0 0;
    padding: 4% 6%;
}

div.rowContainer {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: space-between;
    margin: 3% 0;
}

div.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 48%;
}

div.inputContainer:hover, div.inputContainer:focus {
    color: $tertiary;
}

.inputContainer input {
    border: 2px solid $black;
    border-radius: 50px;
    padding: 4% 6%;
    width: 98%;
}

input:hover, input:focus {
    border-color: $tertiary;
}

label {
    padding: 2% 0;
}

h2.radio {
    margin: 3% 0 0 0;
    font-size: 3rem;
}

div.radioInput {
    margin: 2% 0;
}

div.radioInput:hover, div.radioInput:focus {
    color: $tertiary;
}

.radioInput label {
    margin: 0 2%;
}

input[type="submit"] {
    border: 2px solid transparent;
    margin: 3% 0 0 0;
    padding: 2%;	
}

input[type="submit"]:hover, input[type="submit"]:focus {
    border-color: $black;
}

input[type="submit"]:active {
    border-color: $tertiary;
    background-color: $white;
    color: $tertiary;
}

// Responsive design 
@media (max-width: 610px) {
    .formSectionOn {
        border-radius: 80px 80px 0 0;
    }
   
    div.userInput {
        border-radius: 60px 60px 0 0;
    }
}

@media (max-width: 550px) {
    div.rowContainer {
        flex-direction: column;
        min-width: 100%;
        align-items: center;
    }
    
    div.inputContainer {
        align-items: center;
        width: 100%;
    }
}

