// Background
header {
    background-color: $white;
}


// title
h3 {
    width: 100%;
    margin-top: 1%;
}

h2 {
    padding: 1%;
}

hr {
    width: 100%;
    color: $black;
    margin: 0;
    padding: 0;
}
