// main content
.storyContainerOff {
    display: none;
}

.storyContainerOn {
    display: inherit;
}

.mainGraphic {
    @include outsideBorder;
    border-radius: 150px 150px 0 0;
}

.mainImage {
    // max-height: 55vh;
    @include insideBorder;
    border-bottom: none;
    box-shadow: -5px -5px $secondary, 5px -5px $secondary,;
    border-radius: 130px 130px 0 0;
}

.breakout {
    width: 250px;
    position: absolute;
    top: 11%;
    right: 62%;
    transform: rotate(-25deg);
}

.breakout0 {
    width: 400px;
    right: 55%;
}

.breakout1 {
    width: 400px;
    top: 26%;
    transform: rotate(20deg);
    left: 62%;
}

.breakout3 {
    top: 24%;
    width: 400px;
    transform: none;
}

.breakout4 {
    width: 400px;
    top: 8%;
    left: 55%;
    transform: rotate(25deg);
}

.breakoutRoach {
    width: 420px;
    transform: none;
    top: 21%;
    right: 54%;
}

.breakoutClown1 {
    transform: none;
    top: 15%;
}

.breakoutClown2 {
    transform: none;
    top: 18%;
    left: 62%;
}

.breakoutClown3 {
    width: 350px;
    transform: none;
    top: 28%;
    right: 42%;
}

.breakoutClown4 {
    width: 450px;
    transform: none;
    top: 35%;
    left: 60%;
}

.breakoutClown5 {
    width: 550px;
    transform: none;
    top: 32%;
    right: 58%;
}

.breakoutEnd {
    width: 400px;
    right: 55%;
}

.breakoutEnd2 {
    width: 300px;
    left: 60%;
    top: 20%;
    transform: rotate(20deg);
}

.story {
    background-color: $secondary;
    @include insideBorder;
    margin: 0;
    padding: 0 3%;
}

.navigation {
    display: flex;
    flex-direction: row;
    width: 92.5%;
    // height: 25vh;
    @include outsideBorder;
    border-top: none;
    transform: translateY(-15px);
    position: relative;
}

.navImg {
    @include insideBorder;
    border-top: none;    
    max-width: 50%;
}

.navImg:first-of-type {
    border-right: 10px solid $secondary;
}

.navImg:last-of-type {
    border-left: 10px solid $secondary;
}

.navImgEnd {
    width: 100%;
    @include insideBorder;
    border-top: none;
}

.choice {
    position: absolute;
    transform: translate(-50%, 0);
    width: 46%;
}

.choice:first-of-type {
    left: 25.45%;
}

.choice:last-of-type {
    left: 74.75%;
}


