// main content
.storyContainerOff {
    display: none;
}

.storyContainerOn {
    display: inherit;
}

.mainGraphic {
    @include outsideBorder;
    border-radius: 150px 150px 0 0;
}

.mainImage {
    // max-height: 55vh;
    @include insideBorder;
    border-bottom: none;
    box-shadow: -5px -5px $secondary, 5px -5px $secondary,;
    border-radius: 130px 130px 0 0;
}

.breakout, .breakout0 {
    width: 250px;
    position: absolute;
    top: 11%;
    right: 62%;
    transform: rotate(-25deg);
}

.breakout0 {
    width: 400px;
    right: 55%;
}

.breakout1 {
    width: 400px;
    top: 24%;
    transform: rotate(25deg);
    left: 65%;
}

.breakout3 {
    top: 24%;
    width: 400px;
    transform: none;
}

.breakoutEnd {
    width: 400px;
    right: 55%;
    // top: 15%;
}

.story {
    background-color: $secondary;
    @include insideBorder;
    margin: 0;
    padding: 0 3%;
}

.navigation {
    display: flex;
    flex-direction: row;
    width: 92.5%;
    // height: 25vh;
    @include outsideBorder;
    border-top: none;
    transform: translateY(-15px);
    position: relative;
}

.navImg {
    @include insideBorder;
    border-top: none;    
    max-width: 50%;
}

.navImg:first-of-type {
    border-right: 10px solid $secondary;
}

.navImg:last-of-type {
    border-left: 10px solid $secondary;
}

.navImgEnd {
    width: 100%;
    @include insideBorder;
    border-top: none;
}

.choice {
    position: absolute;
    transform: translate(-50%, 0);
    width: 46%;
}

.choice:first-of-type {
    left: 25.45%;
}

.choice:last-of-type {
    left: 74.75%;
}


