//     font-family: 'Amarante', cursive;

// font-family: 'Montserrat', sans-serif;

body {
    color: $black;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Amarante', cursive;
    text-transform: uppercase;
}

h1 {
    color: $primary;
    font-size: 6rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    color: $white;
    @include redHighlight;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.choice {
    color: $white;
    @include redHighlight;
}
